html,
body {
  height: 100%;
}

#vis1-container {
  display: flex;
}

#boston-map {
  height: 98vh;
  width: 50%;
  border: 1px solid black;
  margin: auto;
}

.info-col {
  width: 50%;
}

#day-container {
  height: 25vh;
}
